@model Person

@{
    ViewData["TitlePhrase"] = "Add Employee";
    string[] genders = { "Male", "Female", "Others" };
    List<Department> depOptions = ViewData["DepartmentOptions"] as List<Department>;
}
<h3>Add New Employee</h3>
<hr color="black">

<form asp-controller="Employee" asp-action="Add" method="POST">

    <div class="form-group">
        <select class="custom-select" asp-for="DepartmentId">
            <option selected>Please select the department.</option>
            @foreach (var dep in depOptions)
            {
                <option value="@dep.Id">@dep.Name</option>
            }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <span class="text-danger" asp-validation-for="FirstName"></span>
            <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
        </div>

        <div class="form-group">
            <label asp-for="Surname"></label>
            <span class="text-danger" asp-validation-for="Surname"></span>
            <input type="text" class="form-control" asp-for="Surname" placeholder="Enter Last Name">
        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <textarea class="form-control" asp-for="Address" placeholder="Enter Address"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Gender"></label> <br>
            @foreach (var gender in genders)
        {
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" asp-for="Gender" id="@gender" value="@gender[0]">
                <label class="form-check-label" asp-for="@gender">@gender</label>
            </div>
        }
    </div>

    <div class="form-group">
        <label asp-for="Salary"></label>
        <input type="number" class="form-control" asp-for="Salary" placeholder="Enter Salary">
    </div>

    <button type="submit" class="btn btn-primary">Save Employee</button>
</form>